* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wrapper {
  display: flex;
  padding: 50px;
  justify-content: space-between;
}

.wrapper .products-wrapper {
  width: 65%;
}

.wrapper .filter-wrapper {
  width: 35%;
}

#root {
  height: 100vh;
}

.layout {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  height: 100%;
  grid-template-rows: 50px 1fr 50px;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
  background-color: blueviolet;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
