.products-wrapper ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0;
  list-style: none;

  .product-item {
    width: 20%;
    img {
      width: 100%;
      height: 50%;
      display: block;
      padding: 2px;
      border: 1px solid;
    }
    .product-desc {
      display: flex;
      justify-content: space-between;
      border: 0;
      margin: 20px 0;
    }
    button {
      display: block;
      width: 100%;
      border: 0;
      background: blueviolet;
      color: white;
      padding: 7px;
      border-radius: 10px;
    }
  }
}

.product-info {
  img {
    display: block;
    width: 40%;
    margin: 20px auto;
  }
  p {
    color: blueviolet;
    font-size: 20px;
    margin: 10px, 0;
    text-align: center;
  }
}

.close-icon {
  position: absolute;
  right: 10px;
  top: 1opx;
  cursor: pointer;
  font-size: 20px;
}
